body{
    background-color: black;

}

header{
    background-color: aqua;}
nav{
    
    background-color: blueviolet;
}


section{
    background-color: brown;
}

footer{
    background-color: beige;
}